log/*
tmp/**/*
**/hold/*
.DS_Store
doc/api
doc/app
config/database.yml
*~
*/*~
*/**/*~
rawdata
script/pulldb
doc/plugins
db/old
coverage
coverage.data
public/attachments
/attachments
.bundle
db/*sqlite3
public/system
