<% title "Attachments" %>
<% content_for :sidebar do %>
	<%= render :partial=>"attachment_menu" %>
<% end %>

<table id="thegrid"></table>
<div id="pager"></div>

<style>
	/*This simple little class change allows jqGrid 3.6.2 to wrap text cells!*/
	.ui-jqgrid tr.jqgrow td { white-space: normal; }
</style>