<% @use_dynamic=true %>
<% title "Documents" %>

<div class="span-24 sidebar_container last">
	<div class="span-24 padabit">
		<%= render :partial=>"document_menu" %>
	</div>
</div>
<div class="span-24 padown last">&nbsp;</div>
<div id="containsgrid" class="span-24">
	<table id="thegrid"></table>
	<div id="pager"></div>
</div>

<style>
	/*This simple little class change allows jqGrid to wrap text cells!*/
	.ui-jqgrid tr.jqgrow td { white-space: normal; }
</style>
