/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require jquery-ui-1.8.16.custom
 *= require screen
 *= require_self
 *= require formtastic
 *= require formtastic_changes
 *= require colorbox
 *= require ui.jqgrid
 // require_tree .
*/

body {
	background-color: #b4cbe2;
	font-family: Verdana, Helvetica, Arial;
	font-size: 12px;
}

html, body { /* force vertical scrollbar always - fix annoying page jump from when it appears/disappears*/
	height: 100%;
	margin: 0 0 1px;
	padding: 0;
}

a img {
	border: none;
}

a {
	color: #0000FF;
}

.clear {
	clear: both;
	height: 0;
	overflow: hidden;
}
.myajaxbutton {
	width: 100px;
	color: black;
	background-color: #ead9bb;
	margin-top: 2px;
	margin-bottom: 2px;
	font: 11px "Lucida Grande", Lucida, Verdana, sans-serif;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;	
}
.loginname {
	text-decoration: none;
	width: 120px;
	color: black;
	font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	font-variant: small-caps;
	display: inline-block;
	padding: 1px;
	margin: 2px;
}
a.nicerbutton {
   	-moz-border-radius: 0.4em;
	-webkit-border-radius: 0.4em;
	color: black;
	width: 105px;
	border:0.3em solid #5D463D;
	padding: 0.7em 1em;
	margin-left: 9.5em;
	background-color: #ecb269;
  	margin-top: 1em;
  	  	margin-bottom: 2em;
    text-decoration: none;
    font: bold 1.1em Tahoma, arial, verdana, courier;
    display: block;
}
a.myajaxbutton {
	width: 84px;
	height: 16px;
	white-space: pre;
	-moz-box-sizing: content-box;
	color: black;
	background-color: #ead9bb;
	margin-top: 2px;
	margin-bottom: 2px;
	text-decoration: none;
	padding-right: 6px;
	padding-left: 6px;
	border: 2px outset #F0F0F0;
}
.myajaxbuttonsmall {
	color: black;
	border: none;
	background-color: #ead9bb;
	padding-left: 5px;
	padding-right: 5px;
	margin-top: 2px;
	margin-bottom: 2px;
}

.to_item {
    float: none;
    clear: both;
    display: block;
}

.orderchanged {
	color: #3e821a;
	font-style: italic;
}

.orderonhold{
	color: red;

}
.ordercancelled {
	color: maroon;
	text-decoration: line-through;
}

.container {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	background-color: #FFF;
	border: solid 1px black;
	margin-top: 0px;
	margin-right: auto;
	margin-left: auto;
    padding: 10px 30px 20px;
}
.myfilterbar {
	-webkit-box-shadow: 2px 2px 4px  ;
	-moz-box-shadow: 2px 2px 4px ;
	box-shadow: 2px 2px 4px ;	
	background-color: #b4cbe2;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border: 1px solid #000;
}
.filterbarinterior {
	padding: 12px;
}
.plantacl {
	float: right;
}
#AutoCompleteFocus {
	background-color: #f6f6f6;
	border: 2px solid #c1c1c1;
	position: fixed;
	top: 80px;
	left: 800px;
	/*margin: 40px 0 0 700px;*/
	padding: 15px;
	width: 300px;
	height: 100px;
	overflow: auto;
}

#AutoCompleteFocus div {
	margin-bottom: 20px;
}

#AutoCompleteFocus pre {
	display: none;
}

#header_container {
	padding: 0px 0 1px;
	clear: both;
	width: 100%;
}

.pullupbottom  {
	margin-bottom: -13px;
}
.paddown {
    padding-top: 8px;
	padding-bottom: 8px;    
}
.padabit {
    padding: 12px;
}

#containsgrid,#containsgrid2 {
    clear: both;
    margin-top: 10px;
    display: block;
    float: none;
}
.sidebar_container {
	-webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
	background-color: rgba(226,204,164,0.75);
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border: 1px none #000;
	padding: 0px;
}
.sidebar_container a {
	-webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
   -moz-font-feature-settings: normal;
    -moz-font-language-override: normal;
    -x-system-font: none;
      font-family: Helvetica Neue,Arial,Sans-serif;
    font-size: 1.0em;
    font-size-adjust: none;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
	text-decoration: none;
	background-color: orange;
	width: 120px;
	color: black;
	display: inline-block;
	padding: 3px;
	margin-top: 2px;
	margin-bottom: 2px;
	/* font: small-caps 1.0em "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif; */
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
    text-align: center;
}
.sidebar_container a:hover {
	color: white;  
}

.sidebar_container h3 {
    display: inline;
    vertical-align: top;
    float: left;
    padding-top: 6px;
    padding-right: 5px;
}
#flash_notice, #flash_error {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	/*margin: 10px 0;*/
    padding: 3px 8px;
    font: normal bold 0.8em "Lucida Grande", Lucida, Verdana, sans-serif;
}

#flash_notice {
	background-color: #CFC;
	border: solid 1px #6C6;
}

#flash_error {
	background-color: #FCC;
	border: solid 1px #C66;
}

.fieldWithErrors {
	display: inline;
}
.terminated {
    text-decoration: line-through;
}
.license_overdue {
    font-weight: bold;
    color: red;
}
.physical_overdue {
    font-weight: bold;
    color: green;
}
.mvr_overdue {
    color: blue;
    font-weight: bold;
}

#errorExplanation {
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;				
	width: 400px;
	border: 2px solid #CF0000;
	padding: 0px;
	padding-bottom: 12px;
	margin-bottom: 20px;
	background-color: #f0f0f0;
}

#errorExplanation h2 {
	text-align: left;
	font-weight: bold;
	padding: 5px 5px 5px 15px;
	font-size: 12px;
	margin: 0;
	background-color: #c00;
	color: #fff;
}

#errorExplanation p {
	color: #333;
	margin-bottom: 0;
	padding: 8px;
}

#errorExplanation ul {
	margin: 2px 24px;
}

#errorExplanation ul li {
	font-size: 12px;
	list-style: disc;
}
