/* -------------------------------------------------------------------------------------------------

Load this stylesheet after formtastic.css in your layouts to override the CSS to suit your needs.
This will allow you to update formtastic.css with new releases without clobbering your own changes.

For example, to make the inline hint paragraphs a little darker in color than the standard #666:

form.formtastic fieldset ol li p.inline-hints { color:#333; }

--------------------------------------------------------------------------------------------------*/

form.formtastic  {
  background: #B59B7F;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 20px;
  width: 600px;
}

form.formtastic fieldset {
  border: none;
  margin-bottom: 10px;
}

form.formtastic legend {
  color: #333333;
  font-size: 16px;
  font-weight: bold;
  padding-bottom: 10px;
  text-shadow: 0 1px 1px #c0c0c0;
}

/*form.formtastic > fieldset > legend:before {
  content: "Step " counter(fieldsets) ": ";
  counter-increment: fieldsets;
}
*/
form.formtastic ol li {
  background: #b9cf6a;
  background: rgba(255,255,255,.3);
  border-color: #e3ebc3;
  border-color: rgba(255,255,255,.6);
  border-style: solid;
  border-width: 2px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  line-height: 30px;
  list-style: none;
  padding: 5px 10px;
  margin-bottom: 2px;
}
form.formtastic ol ol li {
  background: none;
  border: none;
  float: left;
}

form.formtastic label {
  float: left;
  font-size: 13px;
  width: 110px;
}
form.formtastic fieldset fieldset label {
  background:none no-repeat left 50%;
  line-height: 20px;
  padding: 0 0 0 30px;
  width: auto;
}

form.formtastic input:not([type=radio]),
form.formtastic textarea {
  background: #ffffff;
  border: none;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  font: 13px Georgia, "Times New Roman", Times, serif;
  outline: none;
  padding: 5px;
  width: 200px;
}
form.formtastic input:not([type=submit]):focus,
form.formtastic textarea:focus {
  background: #eaeaea;
}
form.formtastic input[type=radio] {
  float: left;
  margin-right: 5px;
}


form.formtastic button {
  background: #384313;
  border: none;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  -khtml-border-radius: 20px;
  border-radius: 20px;
  color: #ffffff;
  display: block;
  font: 18px Georgia, "Times New Roman", Times, serif;
  letter-spacing: 1px;
  margin: auto;
  padding: 7px 25px;
  text-shadow: 0 1px 1px #000000;
  text-transform: uppercase;
}
form.formtastic button:hover {
  background: #1e2506;
  cursor: pointer;
}

form.formtastic fieldset > ol > li.string input, 
form.formtastic fieldset > ol > li.password input, 
form.formtastic fieldset > ol > li.numeric input, 
form.formtastic fieldset > ol > li.email input, 
form.formtastic fieldset > ol > li.url input, 
form.formtastic fieldset > ol > li.phone input, 
form.formtastic fieldset > ol > li.search input,
form.formtastic fieldset.inputs > ol > li > select {

}

form.formtastic fieldset.inputs > ol > li > select {
  font: 13px Georgia, "Times New Roman", Times, serif;
/*  font-weight: bold;*/
  line-height: 18px;
  padding-bottom: 4px;
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 4px;
  width: 250px;  
}