<div class="span-24 last">
	<div id="header_container">  <!-- for header backgrounds or borders, etc. in application.css -->
	  <div id="title_holder"> </div>
		<div id="flashes"> </div>
		<input type='hidden' id='amiana'>  <!-- am I an editor? setting it here for jQuery parsing -->
	</div>
</div>

