<div class="span-24 last">
		<div id="header_container">  <!-- for header backgrounds or borders, etc. in application.css -->
			<%- flash.each do |name, msg| -%>
				<%= content_tag :div, msg, :id => "flash_#{name}" %>
			<%- end -%>
			<%- if show_title? -%>
				<h2><%= h yield(:title) %></h2>
			<%- end -%>			
			<input type='hidden' id='amiana' value='<%= current_user.admin || false %>'>  <!-- am I an editor? setting it here for jQuery parsing -->
		</div>
</div>
